<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <title>Add Product</title>
    <!-- css  -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        <h2 class="header">This is add product page of this application</h2>
        <div class="content">
            <form action="/admin/add-product" method="POST">
                <input type="text" name="product">
                <button>Add Product</button>
            </form>
        </div>
    </div>
</body>

</html>